# Cum Sum Energy Consumption

Calculate the running total (i.e., cumulative sum) energy consumption of the Meta/Facebook data centers in all 3 continents by the date. Output the date, running total energy consumption, and running total percentage rounded to the nearest whole number.

In [47]:
import pandas as pd
import numpy as np
e=pd.read_csv('fb_eu_energy.csv')
n=pd.read_csv('fb_na_energy.csv')
a=pd.read_csv('fb_asia_energy.csv')

In [17]:
e.date=pd.to_datetime(e.date)
n.date=pd.to_datetime(n.date)
a.date=pd.to_datetime(a.date)

In [25]:
q=pd.merge(e,n,on='date',how='outer').merge(a,on='date',how='outer').fillna(0)
q

        date  consumption_x  consumption_y  consumption
0 2020-01-01          400.0          250.0        400.0
1 2020-01-02          350.0          375.0        400.0
2 2020-01-03          500.0          600.0          0.0
3 2020-01-04          500.0            0.0        675.0
4 2020-01-07          600.0          250.0        400.0
5 2020-01-06            0.0          500.0        750.0
6 2020-01-05            0.0            0.0       1200.0

In [45]:
q['total_consumption']=q.consumption_x+q.consumption_y+q.consumption
q['running_total']=q.total_consumption.cumsum()
q['pct_change']=q.running_total.pct_change().round(1)*100
q

,date,consumption_x,consumption_y,consumption,total_consumption,running_total,pct_change
0,2020-01-01,400.0,250.0,400.0,1050.0,1050.0,NaN
1,2020-01-02,350.0,375.0,400.0,1125.0,2175.0,110.0
2,2020-01-03,500.0,600.0,0.0,1100.0,3275.0,50.0
3,2020-01-04,500.0,0.0,675.0,1175.0,4450.0,40.0
4,2020-01-07,600.0,250.0,400.0,1250.0,5700.0,30.0
5,2020-01-06,0.0,500.0,750.0,1250.0,6950.0,20.0
6,2020-01-05,0.0,0.0,1200.0,1200.0,8150.0,20.0