# More Than 100 Dollars



For each month of 2021, calculate what percentage of restaurants, out of these that fulfilled any orders in a given month, fulfilled more than 100$ in monthly sales?

In [1]:
import pandas as pd
do=pd.read_csv('delivery_orders.csv')
pd.set_option('display.max_row',500)
do

,delivery_id,order_placed_time,predicted_delivery_time,actual_delivery_time,delivery_rating,dasher_id,restaurant_id,consumer_id
0,O2132,11/17/2021 4:45,11/17/2021 5:37,11/17/2021 5:58,4,D239,R633,C1001
1,O2152,12/9/2021 19:09,12/9/2021 19:41,12/9/2021 19:41,3,D238,R635,C1010
2,O2158,1/4/2022 2:31,1/4/2022 2:56,1/4/2022 3:21,4,D239,R634,C1010
3,O2173,2/9/2022 0:45,2/9/2022 1:19,2/9/2022 1:33,0,D239,R633,C1038
4,O2145,12/4/2021 17:20,12/4/2021 18:04,12/4/2021 18:31,1,D239,R634,C1042
5,O2144,12/4/2021 12:50,12/4/2021 13:34,12/4/2021 13:47,1,D238,R637,C1059
6,O2172,2/8/2022 14:53,2/8/2022 15:13,2/8/2022 15:24,5,D237,R636,C1059
7,O2170,2/4/2022 3:08,2/4/2022 3:28,2/4/2022 3:26,1,D239,R636,C1083
8,O2150,12/8/2021 10:47,12/8/2021 11:27,12/8/2021 11:25,3,D240,R631,C1130
9,O2177,2/26/2022 15:26,2/26/2022 16:12,2/26/2022 16:24,0,D240,R637,C1170
10,O2129,11/7/2021 6:45,11/7/2021 7:18,11/7/2021 7:21,3,D240,R631,C1199
11,O2147,12/5/2021 14:24,12/5/2021 15:07,12/5/2021 15:11,3,D238,R631,C1252
12,O2149,12/8/2021 8:10,12/8/2021 8:39,12/8/2021 8:44,0,D240,R631,C1261
13,O2135,11/23/2021 17:57,11/23/2021 18:16,11/23/2021 18:47,0,D238,R636,C1264
14,O2139,11/30/2021 18:31,11/30/2021 19:29,11/30/2021 20:22,4,D241,R633,C1291
15,O2157,1/3/2022 20:27,1/3/2022 21:10,1/3/2022 21:18,3,D241,R632,C1315
16,O2167,1/31/2022 23:04,1/31/2022 23:57,2/1/2022 0:11,1,D239,R633,C1331
17,O2153,12/11/2021 1:20,12/11/2021 2:10,12/11/2021 2:06,4,D240,R631,C1343
18,O2148,12/6/2021 9:13,12/6/2021 10:12,12/6/2021 10:14,5,D238,R633,C1377
19,O2137,11/28/2021 10:44,11/28/2021 11:08,11/28/2021 11:22,3,D239,R632,C1395
20,O2131,11/15/2021 22:56,11/15/2021 23:35,11/15/2021 23:45,4,D237,R631,C1413
21,O2162,1/20/2022 14:46,1/20/2022 15:12,1/20/2022 15:34,1,D239,R635,C1423
22,O2143,12/4/2021 8:31,12/4/2021 8:53,12/4/2021 8:53,2,D238,R632,C1428
23,O2138,11/29/2021 6:33,11/29/2021 7:32,11/29/2021 7:31,5,D241,R637,C1434
24,O2174,2/15/2022 15:37,2/15/2022 16:19,2/15/2022 16:33,0,D239,R635,C1447
25,O2151,12/8/2021 23:51,12/9/2021 0:33,12/9/2021 0:30,2,D241,R631,C1472
26,O2142,12/4/2021 1:17,12/4/2021 1:36,12/4/2021 1:45,3,D237,R632,C1478
27,O2141,12/1/2021 2:33,12/1/2021 3:08,12/1/2021 3:05,2,D240,R637,C1516
28,O2166,1/29/2022 16:23,1/29/2022 17:13,1/29/2022 17:18,4,D240,R631,C1524
29,O2161,1/17/2022 15:47,1/17/2022 16:47,1/17/2022 17:00,5,D238,R633,C1529
30,O2164,1/26/2022 15:58,1/26/2022 16:41,1/26/2022 16:58,3,D240,R633,C1551
31,O2175,2/20/2022 15:05,2/20/2022 15:27,2/20/2022 15:33,0,D240,R635,C1553
32,O2176,2/25/2022 4:03,2/25/2022 4:18,2/25/2022 4:21,5,D241,R634,C1558
33,O2156,12/28/2021 9:18,12/28/2021 9:55,12/28/2021 10:08,3,D240,R633,C1615
34,O2168,2/1/2022 13:59,2/1/2022 14:19,2/1/2022 14:31,3,D239,R635,C1631
35,O2163,1/26/2022 10:04,1/26/2022 10:27,1/26/2022 10:49,0,D240,R634,C1656
36,O2134,11/20/2021 19:59,11/20/2021 20:54,11/20/2021 20:49,1,D241,R633,C1665
37,O2136,11/27/2021 23:13,11/28/2021 0:04,11/28/2021 0:05,3,D237,R636,C1676
38,O2171,2/7/2022 0:21,2/7/2022 1:17,2/7/2022 1:46,0,D241,R636,C1683
39,O2159,1/11/2022 22:28,1/11/2022 22:45,1/11/2022 23:16,3,D238,R635,C1708
40,O2155,12/16/2021 16:26,12/16/2021 16:48,12/16/2021 17:11,3,D239,R636,C1721
41,O2130,11/12/2021 2:07,11/12/2021 2:31,11/12/2021 2:56,5,D241,R632,C1744
42,O2160,1/15/2022 14:43,1/15/2022 15:41,1/15/2022 15:46,3,D241,R636,C1748
43,O2128,11/6/2021 9:42,11/6/2021 10:19,11/6/2021 10:20,0,D241,R632,C1764
44,O2133,11/20/2021 12:37,11/20/2021 13:08,11/20/2021 13:26,0,D240,R635,C1776
45,O2154,12/12/2021 23:55,12/13/2021 0:11,12/13/2021 0:12,4,D240,R633,C1801
46,O2140,11/30/2021 23:36,12/1/2021 0:03,12/1/2021 0:07,1,D238,R632,C1853
47,O2169,2/3/2022 1:02,2/3/2022 1:51,2/3/2022 1:53,1,D240,R637,C1929
48,O2165,1/27/2022 14:37,1/27/2022 15:33,1/27/2022 15:36,4,D237,R636,C1940
49,O2146,12/4/2021 22:55,12/4/2021 23:30,12/4/2021 23:26,4,D240,R633,C1970

In [2]:
do['order_placed_time']=pd.to_datetime(do.order_placed_time)

In [3]:
do['month']=do.order_placed_time.dt.month

In [4]:
do2021=do[do.order_placed_time.dt.year==2021]

In [5]:
ov=pd.read_csv('order_value.csv')
ov

   delivery_id  sales_amount
0        O2141         15.28
1        O2159         16.67
2        O2151         24.64
3        O2130         25.43
4        O2165         29.74
5        O2146         31.62
6        O2157         32.22
7        O2174         38.58
8        O2169         40.77
9        O2149         42.70
10       O2131         42.82
11       O2140         42.89
12       O2150         45.41
13       O2173         45.48
14       O2158         46.18
15       O2170         46.26
16       O2175         48.28
17       O2155         52.43
18       O2162         52.50
19       O2167         52.62
20       O2172         53.39
21       O2148         53.55
22       O2138         54.22
23       O2161         56.32
24       O2139         57.43
25       O2135         60.52
26       O2134         60.93
27       O2163         61.97
28       O2147         62.77
29       O2164         64.52
30       O2129         67.48
31       O2156         68.22
32       O2171         69.19
33       O2133         70.32
34       O2142         72.37
35       O2168         78.74
36       O2153         80.11
37       O2154         84.97
38       O2177         86.22
39       O2143         90.80
40       O2132         91.83
41       O2166         92.51
42       O2176         92.64
43       O2128         94.68
44       O2137         95.25
45       O2144         95.77
46       O2152         96.21
47       O2160         96.57
48       O2136         98.98
49       O2145         99.51

In [6]:
q=pd.merge(do2021,ov,how='left')
q

,delivery_id,order_placed_time,predicted_delivery_time,actual_delivery_time,delivery_rating,dasher_id,restaurant_id,consumer_id,month,sales_amount
0,O2132,2021-11-17 04:45:00,11/17/2021 5:37,11/17/2021 5:58,4,D239,R633,C1001,11,91.83
1,O2152,2021-12-09 19:09:00,12/9/2021 19:41,12/9/2021 19:41,3,D238,R635,C1010,12,96.21
2,O2145,2021-12-04 17:20:00,12/4/2021 18:04,12/4/2021 18:31,1,D239,R634,C1042,12,99.51
3,O2144,2021-12-04 12:50:00,12/4/2021 13:34,12/4/2021 13:47,1,D238,R637,C1059,12,95.77
4,O2150,2021-12-08 10:47:00,12/8/2021 11:27,12/8/2021 11:25,3,D240,R631,C1130,12,45.41
5,O2129,2021-11-07 06:45:00,11/7/2021 7:18,11/7/2021 7:21,3,D240,R631,C1199,11,67.48
6,O2147,2021-12-05 14:24:00,12/5/2021 15:07,12/5/2021 15:11,3,D238,R631,C1252,12,62.77
7,O2149,2021-12-08 08:10:00,12/8/2021 8:39,12/8/2021 8:44,0,D240,R631,C1261,12,42.70
8,O2135,2021-11-23 17:57:00,11/23/2021 18:16,11/23/2021 18:47,0,D238,R636,C1264,11,60.52
9,O2139,2021-11-30 18:31:00,11/30/2021 19:29,11/30/2021 20:22,4,D241,R633,C1291,11,57.43
10,O2153,2021-12-11 01:20:00,12/11/2021 2:10,12/11/2021 2:06,4,D240,R631,C1343,12,80.11
11,O2148,2021-12-06 09:13:00,12/6/2021 10:12,12/6/2021 10:14,5,D238,R633,C1377,12,53.55
12,O2137,2021-11-28 10:44:00,11/28/2021 11:08,11/28/2021 11:22,3,D239,R632,C1395,11,95.25
13,O2131,2021-11-15 22:56:00,11/15/2021 23:35,11/15/2021 23:45,4,D237,R631,C1413,11,42.82
14,O2143,2021-12-04 08:31:00,12/4/2021 8:53,12/4/2021 8:53,2,D238,R632,C1428,12,90.80
15,O2138,2021-11-29 06:33:00,11/29/2021 7:32,11/29/2021 7:31,5,D241,R637,C1434,11,54.22
16,O2151,2021-12-08 23:51:00,12/9/2021 0:33,12/9/2021 0:30,2,D241,R631,C1472,12,24.64
17,O2142,2021-12-04 01:17:00,12/4/2021 1:36,12/4/2021 1:45,3,D237,R632,C1478,12,72.37
18,O2141,2021-12-01 02:33:00,12/1/2021 3:08,12/1/2021 3:05,2,D240,R637,C1516,12,15.28
19,O2156,2021-12-28 09:18:00,12/28/2021 9:55,12/28/2021 10:08,3,D240,R633,C1615,12,68.22
20,O2134,2021-11-20 19:59:00,11/20/2021 20:54,11/20/2021 20:49,1,D241,R633,C1665,11,60.93
21,O2136,2021-11-27 23:13:00,11/28/2021 0:04,11/28/2021 0:05,3,D237,R636,C1676,11,98.98
22,O2155,2021-12-16 16:26:00,12/16/2021 16:48,12/16/2021 17:11,3,D239,R636,C1721,12,52.43
23,O2130,2021-11-12 02:07:00,11/12/2021 2:31,11/12/2021 2:56,5,D241,R632,C1744,11,25.43
24,O2128,2021-11-06 09:42:00,11/6/2021 10:19,11/6/2021 10:20,0,D241,R632,C1764,11,94.68
25,O2133,2021-11-20 12:37:00,11/20/2021 13:08,11/20/2021 13:26,0,D240,R635,C1776,11,70.32
26,O2154,2021-12-12 23:55:00,12/13/2021 0:11,12/13/2021 0:12,4,D240,R633,C1801,12,84.97
27,O2140,2021-11-30 23:36:00,12/1/2021 0:03,12/1/2021 0:07,1,D238,R632,C1853,11,42.89
28,O2146,2021-12-04 22:55:00,12/4/2021 23:30,12/4/2021 23:26,4,D240,R633,C1970,12,31.62

In [7]:
total_sales_each_month_per_restaurant=q.groupby(['restaurant_id','month']).sales_amount.sum().reset_index(name='total_sales')
total_sales_each_month_per_restaurant

   restaurant_id  month  total_sales
0           R631     11       110.30
1           R631     12       255.63
2           R632     11       258.25
3           R632     12       163.17
4           R633     11       210.19
5           R633     12       238.36
6           R634     12        99.51
7           R635     11        70.32
8           R635     12        96.21
9           R636     11       159.50
10          R636     12        52.43
11          R637     11        54.22
12          R637     12       111.05

In [8]:
flag=[]
for i in total_sales_each_month_per_restaurant.total_sales.values:
    if i > 100:
      flag.append('Y')
    else:
        flag.append('N')
flag

['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y']

In [9]:
total_sales_each_month_per_restaurant['flag']=flag

In [10]:
total_sales_each_month_per_restaurant

   restaurant_id  month  total_sales flag
0           R631     11       110.30    Y
1           R631     12       255.63    Y
2           R632     11       258.25    Y
3           R632     12       163.17    Y
4           R633     11       210.19    Y
5           R633     12       238.36    Y
6           R634     12        99.51    N
7           R635     11        70.32    N
8           R635     12        96.21    N
9           R636     11       159.50    Y
10          R636     12        52.43    N
11          R637     11        54.22    N
12          R637     12       111.05    Y

In [12]:
total_sales_each_month_per_restaurant[total_sales_each_month_per_restaurant.flag=='Y']

   restaurant_id  month  total_sales flag
0           R631     11       110.30    Y
1           R631     12       255.63    Y
2           R632     11       258.25    Y
3           R632     12       163.17    Y
4           R633     11       210.19    Y
5           R633     12       238.36    Y
9           R636     11       159.50    Y
12          R637     12       111.05    Y