# Session Type Duration


Calculate the average session duration for each session type?

In [4]:
import pandas as pd
q=pd.read_table('twitch_sessions.txt')
q[['session_start','session_end']]=q[['session_start','session_end']].apply(pd.to_datetime)
q

   user_id       session_start         session_end  session_id session_type
0        0 2020-08-11 05:51:31 2020-08-11 05:54:45         539     streamer
1        2 2020-07-11 03:36:54 2020-07-11 03:37:08         840     streamer
2        3 2020-11-26 11:41:47 2020-11-26 11:52:01         848     streamer
3        1 2020-11-19 06:24:24 2020-11-19 07:24:38         515       viewer
4        2 2020-11-14 03:36:05 2020-11-14 03:39:19         646       viewer
5        0 2020-03-11 03:01:40 2020-03-11 03:01:59         782     streamer
6        0 2020-08-11 03:50:45 2020-08-11 03:55:59         815       viewer
7        3 2020-10-11 22:15:14 2020-10-11 22:18:28         630       viewer
8        1 2020-11-20 06:59:57 2020-11-20 07:20:11         907     streamer
9        2 2020-07-11 14:32:19 2020-07-11 14:42:33         949       viewer

In [6]:
q['session_duration']=q.session_end-q.session_start

In [10]:
q.groupby('session_type').session_duration.mean().reset_index(name='avg_duration')

  session_type    avg_duration
0     streamer 0 days 00:06:51
1       viewer 0 days 00:16:26