# Algorithm Performance


Meta/Facebook is developing a search algorithm that will allow users to search through their post history. You have been assigned to evaluate the performance of this algorithm.


We have a table with the user's search term, search result positions, and whether or not the user clicked on the search result.


Write a query that assigns ratings to the searches in the following way:
- If the search was not clicked for any term, assign the search with rating=1
- If the search was clicked but the top position of clicked terms was outside the top 3 positions, assign the search a rating=2
- If the search was clicked and the top position of a clicked term was in the top 3 positions, assign the search a rating=3


As a search ID can contain more than one search term, select the highest rating for that search ID. Output the search ID and it's highest rating.


Example: The search_id 1 was clicked (clicked = 1) and it's position is outside of the top 3 positions (search_results_position = 5), therefore it's rating is 2.

In [1]:
import pandas as pd
q=pd.read_table('fb_search_events.txt')
q

    search_id search_term  clicked  search_results_position
0           1      rabbit        1                        5
1           2     airline        1                        4
2           2     quality        1                        5
3           3       hotel        1                        1
4           3     scandal        1                        4
..        ...         ...      ...                      ...
70        720      police        1                        1
71        738      sister        1                        2
72        739         dog        0                        2
73        857         cat        0                        4
74        953        fire        1                        5

[75 rows x 4 columns]

In [2]:
# adding a column with multiple codition values
rating=[]

for i in range(len(q)):
    if q.iloc[i,2]==0: # the search was not clicked (clicked = 0)
        rating.append(1)
    elif q.iloc[i,2]==1 and q.iloc[i,3] >3: # clicked = 1 and search_results_position > 3
        rating.append(2)
    else: # clicked = 1 and search_results_position < 3
        rating.append(3) 
q['rating']=rating

In [3]:
q.groupby('search_id').rating.max().reset_index(name='highest_rating')

    search_id  highest_rating
0           1               2
1           2               2
2           3               3
3           5               3
4           6               3
5          10               1
6          11               1
7          14               3
8          17               1
9          18               3
10         38               1
11         40               2
12         41               1
13         42               2
14         43               1
15         44               2
16         50               1
17         51               2
18         52               3
19         53               3
20         56               1
21         57               3
22         59               1
23         60               1
24         63               3
25         65               1
26         68               3
27         69               3
28         70               2
29         74               1
30         76               3
31         77               2
32         80               1
33         81               1
34         82               2
35         83               2
36         84               3
37         85               1
38         87               1
39         90               3
40         91               2
41         92               1
42         93               2
43         96               1
44         97               3
45         99               3
46        120               3
47        123               3
48        182               1
49        321               1
50        331               2
51        368               3
52        649               1
53        670               2
54        696               1
55        720               3
56        738               3
57        739               1
58        857               1
59        953               2