# Most Popular Room Types


Find the room types that are searched by most people. Output the room type alongside the number of searches for it. If the filter for room types has more than one room type, consider each unique room type as a separate row. Sort the result based on the number of searches in descending order.

In [82]:
import pandas as pd
import numpy as np
q=pd.read_csv('airbnb_searches.csv') # read the table
q.head()

,ds,id_user,ds_checkin,ds_checkout,n_searches,n_nights,n_guests_min,n_guests_max,origin_country,filter_price_min,filter_price_max,filter_room_types,filter_neighborhoods
0,10/11/2014,67aece73-e112-4e9e-9e05-8a2a94b003b9,NaN,NaN,5,NaN,1,1,IT,0.0,99.0,",Private room",NaN
1,10/1/2014,6cbb33d1-6ecc-4f74-8b6a-a43d07d484b6,10/4/2014,10/7/2014,11,3.0,3,3,ES,0.0,567.0,",Entire home/apt,Entire home/apt,Private room,...",NaN
2,10/3/2014,aa9cf5bf-5667-4212-8018-1cb8beee530e,11/14/2014,11/16/2014,17,2.0,2,2,GB,0.0,171.0,",Entire home/apt",NaN
3,10/9/2014,3e6c2466-74fe-44c0-a6f3-dda79755d30a,2/26/2015,3/2/2015,9,4.0,1,4,GB,0.0,240.0,",Entire home/apt",NaN
4,10/13/2014,a09bf912-b21d-4859-b194-8512c30695f6,10/18/2014,10/22/2014,7,4.0,1,2,GB,NaN,NaN,",Entire home/apt",NaN

In [83]:
room_tye_search=q.groupby('filter_room_types').n_searches.sum()
room_tye_search=room_tye_search.reset_index()
room_tye_search

                                    filter_room_types  n_searches
0                                    ,Entire home/apt        1026
1       ,Entire home/apt,Entire home/apt,Private room         305
2   ,Entire home/apt,Entire home/apt,Private room,...          59
3   ,Entire home/apt,Entire home/apt,Private room,...         297
4   ,Entire home/apt,Private room,Entire home/apt,...           8
5          ,Entire home/apt,Private room,Private room          44
6           ,Entire home/apt,Private room,Shared room          24
7                                       ,Private room         546
8                       ,Private room,Entire home/apt          11
9               ,Private room,Shared room,Shared room          11
10                                    Entire home/apt         176
11       Entire home/apt,Entire home/apt,Private room           8
12                       Entire home/apt,Private room           8
13  Entire home/apt,Private room,Entire home/apt,P...           7
14          Entire home/apt,Private room,Private room          10
15           Entire home/apt,Private room,Shared room           5
16                                       Private room         348

In [84]:
room_tye_search.filter_room_types.unique()

array([',Entire home/apt',
       ',Entire home/apt,Entire home/apt,Private room',
       ',Entire home/apt,Entire home/apt,Private room,Entire home/apt,Private room,Shared room',
       ',Entire home/apt,Entire home/apt,Private room,Private room',
       ',Entire home/apt,Private room,Entire home/apt,Private room,Shared room,Entire home/apt,Shared room,Shared room',
       ',Entire home/apt,Private room,Private room',
       ',Entire home/apt,Private room,Shared room', ',Private room',
       ',Private room,Entire home/apt',
       ',Private room,Shared room,Shared room', 'Entire home/apt',
       'Entire home/apt,Entire home/apt,Private room',
       'Entire home/apt,Private room',
       'Entire home/apt,Private room,Entire home/apt,Private room,Shared room',
       'Entire home/apt,Private room,Private room',
       'Entire home/apt,Private room,Shared room', 'Private room'],
      dtype=object)

In [85]:
# total searches for 'Entire home/apt'
Entire_home_apt=room_tye_search[room_tye_search.filter_room_types.str.contains('Entire home/apt')].n_searches.sum()

In [86]:
# total searches for 'Private room'
Private_room=room_tye_search[room_tye_search.filter_room_types.str.contains('Private room')].n_searches.sum()

In [87]:
# total searches for 'Shared room'
Shared_room=room_tye_search[room_tye_search.filter_room_types.str.contains('Shared room')].n_searches.sum()

In [88]:
pd.DataFrame([[Entire_home_apt,Private_room,Shared_room]],columns=['Entire_home_apt','Private_room','Shared_room'])

   Entire_home_apt  Private_room  Shared_room
0             1988          1691          114