# Views Per Keyword


Create a report showing how many views each keyword has. Output the keyword and the total views, and order records with highest view count first.

In [2]:
import pandas as pd
import numpy as np
q=pd.read_csv('facebook_posts.csv') # read the fb table
q

,post_id,poster,post_text,post_keywords,post_date
0,0,2,The Lakers game from last night was great.,"[basketball,lakers,nba]",1/1/2019
1,1,1,Lebron James is top class.,"[basketball,lebron_james,nba]",1/2/2019
2,2,2,Asparagus tastes OK.,"[asparagus,food]",1/1/2019
3,3,1,Spaghetti is an Italian food.,"[spaghetti,food]",1/2/2019
4,4,3,User 3 is not sharing interests,[#spam#],1/1/2019
5,5,3,User 3 posts SPAM content a lot,[#spam#],1/2/2019

In [4]:
# read fb post view file
v=pd.read_csv('facebook_post_views.csv')
v

   post_id  viewer_id
0        4          0
1        4          1
2        4          2
3        5          0
4        5          1
5        5          2
6        3          1
7        3          2
8        3          3

In [7]:
# find the total views of each posts
total_v=v.groupby('post_id').viewer_id.count().reset_index(name='total_views')

In [9]:
# find the total view of each keyword by merging with fb post table
pd.merge(q,total_v,on='post_id').iloc[:,[3,5]]

      post_keywords  total_views
0  [spaghetti,food]            3
1          [#spam#]            3
2          [#spam#]            3