# Premium Acounts



You are given a dataset that provides the number of active users per day per premium account. A premium account will have an entry for every day that itâ€™s premium. However, a premium account may be temporarily discounted and considered not paid, this is indicated by a value of 0 in the final_price column for a certain day. Find out how many premium accounts that are paid on any given day are still premium and paid 7 days later.
Output the date, the number of premium and paid accounts on that day, and the number of how many of these accounts are still premium and paid 7 days later. Since you are only given data for a 14 days period, only include the first 7 available dates in your output.

In [3]:
import pandas as pd
q=pd.read_csv('premium_accounts_by_day.csv')
q.entry_date=pd.to_datetime(q.entry_date)
q

   account_id entry_date  users_visited_7d  final_price  plan_size
0         A01 2022-02-07                 1          100         10
1         A03 2022-02-07                30          400         50
2         A01 2022-02-08                 3          100         10
3         A03 2022-02-08                39          400         50
4         A05 2022-02-08                14          400         50
5         A01 2022-02-09                12          100         10
6         A03 2022-02-09                44          400         50
7         A04 2022-02-09                25            0         70
8         A05 2022-02-09                32          400         50
9         A01 2022-02-10                17          100         10
10        A02 2022-02-10                82          800        100
11        A03 2022-02-10                60          400         50
12        A04 2022-02-10                72            0         70
13        A05 2022-02-10                45          400         50
14        A01 2022-02-11                26          100         10
15        A02 2022-02-11               102          800        100
16        A03 2022-02-11                76          400         50
17        A04 2022-02-11               115            0         70
18        A05 2022-02-11                50          400         50
19        A01 2022-02-12                28          100         10
20        A02 2022-02-12               181          800        100
21        A03 2022-02-12               104          400         50
22        A04 2022-02-12               140           20         70
23        A01 2022-02-13                29          100         10
24        A02 2022-02-13               235          800        100
25        A03 2022-02-13               113          400         50
26        A04 2022-02-13               154           20         70
27        A01 2022-02-14                34          100         10
28        A02 2022-02-14               305          800        100
29        A03 2022-02-14               117          400         50
30        A04 2022-02-14               195           20         70
31        A01 2022-02-15                38          100         10
32        A02 2022-02-15               389          800        100
33        A03 2022-02-15               127          400         50
34        A04 2022-02-15               253           20         70
35        A01 2022-02-16                35          100         10
36        A02 2022-02-16               412          800        100
37        A03 2022-02-16               143            0         50
38        A04 2022-02-16               276           20         70
39        A05 2022-02-16                31          250         20
40        A01 2022-02-17                38          100         10
41        A02 2022-02-17               400          800        100
42        A03 2022-02-17               172            0         50
43        A04 2022-02-17               276           20         70
44        A05 2022-02-17                26          250         20
45        A02 2022-02-18               310          800        100
46        A03 2022-02-18               186            0         50
47        A04 2022-02-18               239           20         70
48        A02 2022-02-19               142          800        100
49        A03 2022-02-19               189            0         50
50        A04 2022-02-19               228           20         70
51        A03 2022-02-20               191            0         50
52        A04 2022-02-20               264           20         70
53        A05 2022-02-20                25          350         30

In [12]:
total_premium_acc=q[q.final_price!=0].groupby('entry_date').account_id.count().reset_index(name='total_premium_acc')

In [13]:
total_paid_acc=q[q.final_price==0].groupby('entry_date').account_id.count().reset_index(name='total_paid_acc')

In [34]:
final=total_premium_acc.merge(total_paid_acc,how='left').fillna(0)
final

   entry_date  total_premium_acc  total_paid_acc
0  2022-02-07                  2             0.0
1  2022-02-08                  3             0.0
2  2022-02-09                  3             1.0
3  2022-02-10                  4             1.0
4  2022-02-11                  4             1.0
5  2022-02-12                  4             0.0
6  2022-02-13                  4             0.0
7  2022-02-14                  4             0.0
8  2022-02-15                  4             0.0
9  2022-02-16                  4             1.0
10 2022-02-17                  4             1.0
11 2022-02-18                  2             1.0
12 2022-02-19                  2             1.0
13 2022-02-20                  2             1.0

In [35]:
final[['total_premium_acc_7d_later','total_paid_acc_7d_later']]=final.shift(-7).drop(columns='entry_date')

In [36]:
final

,entry_date,total_premium_acc,total_paid_acc,total_premium_acc_7d_later,total_paid_acc_7d_later
0,2022-02-07,2,0.0,4.0,0.0
1,2022-02-08,3,0.0,4.0,0.0
2,2022-02-09,3,1.0,4.0,1.0
3,2022-02-10,4,1.0,4.0,1.0
4,2022-02-11,4,1.0,2.0,1.0
5,2022-02-12,4,0.0,2.0,1.0
6,2022-02-13,4,0.0,2.0,1.0
7,2022-02-14,4,0.0,NaN,NaN
8,2022-02-15,4,0.0,NaN,NaN
9,2022-02-16,4,1.0,NaN,NaN
10,2022-02-17,4,1.0,NaN,NaN
11,2022-02-18,2,1.0,NaN,NaN
12,2022-02-19,2,1.0,NaN,NaN
13,2022-02-20,2,1.0,NaN,NaN