# Price Of Wines In Each Country

Find the minimum, average, and maximum price of all wines per country. Assume all wines listed across both datasets are unique. Output the country name along with the corresponding minimum, maximum, and average prices.

In [26]:
import pandas as pd
import numpy as np
q1=pd.read_csv('winemag_p1.csv',encoding='latin-1')
q2=pd.read_csv('winemag_p2.csv',encoding='latin-1')

In [27]:
q2=q2.drop(columns=['taster_name','taster_twitter_handle','title'])

In [29]:
q=pd.concat([q1,q2])

In [30]:
q.groupby('country').agg({'price':['min','mean','max']})

             price
               min       mean    max
country
Argentina     10.0  26.538462  152.0
Australia     11.0  49.250000  135.0
Austria       20.0  31.400000   50.0
Brazil        20.0  20.000000   20.0
Bulgaria       8.0   8.000000    8.0
Chile          9.0  26.833333   80.0
France         8.0  41.814815  294.0
Germany       15.0  28.500000   58.0
Greece        20.0  29.000000   38.0
Italy         12.0  39.238095  190.0
Macedonia     15.0  16.000000   20.0
Moldova       12.0  12.000000   12.0
New Zealand   18.0  20.750000   25.0
Portugal       6.0  20.000000   55.0
South Africa  20.0  20.000000   20.0
Spain          8.0  27.300000   70.0
Turkey        15.0  15.000000   15.0
US             6.0  56.118421  625.0