# Find The Most Profitable Location


Find the most profitable location. Write a query that calculates the average signup duration and average transaction amount for each location, and then compare these two measures together by taking the ratio of the average transaction amount and average duration for each location.


Your output should include the location, average duration, average transaction amount, and ratio. Sort your results from highest ratio to lowest.

In [30]:
import pandas as pd
q=pd.read_table('signups.txt')
q[['signup_start_date','signup_stop_date']]=q[['signup_start_date','signup_stop_date']].apply(pd.to_datetime)

In [33]:
q['signup_duration_days']=(q.signup_stop_date-q.signup_start_date).dt.days

In [38]:
t=pd.read_table('transactions.txt')
t.transaction_start_date=t.transaction_start_date.apply(pd.to_datetime)
t.groupby('signup_id').amt.mean().reset_index(name='total_amt')

    signup_id  total_amt
0         100       24.9
1         101       24.9
2         102        9.9
3         103       24.9
4         104       24.9
5         105        9.9
6         106      109.9
7         107      109.9
8         108        9.9
9         109       24.9
10        110       24.9
11        111      109.9
12        112        9.9
13        113      109.9
14        114       24.9
15        115       24.9
16        116       24.9
17        117      109.9
18        118      109.9
19        119       24.9
20        120       24.9
21        121      109.9
22        122        9.9
23        123        9.9
24        124       24.9
25        125        9.9
26        126       24.9
27        127       24.9
28        128        9.9
29        129      109.9
30        130      109.9
31        131       24.9
32        132        9.9
33        133        9.9
34        134       24.9
35        135       24.9
36        136       24.9
37        137        9.9
38        138       24.9
39        139       24.9
40        140       24.9
41        141        9.9
42        142       24.9
43        143       24.9
44        144      109.9
45        145       24.9
46        146      109.9
47        147       24.9
48        148        9.9
49        149      109.9

In [42]:
final=q[['location','ignup_id','signup_duration_days']].merge(t.groupby('signup_id').amt.sum().reset_index(name='total_amt'),left_on='ignup_id',right_on='signup_id')
final=final[['location','total_amt','signup_duration_days']]
final

          location  total_amt  signup_duration_days
0   Rio De Janeiro       24.9                    26
1      Mexico City       24.9                    88
2          Mendoza       59.4                   170
3   Rio De Janeiro       24.9                    76
4        Las Vegas       24.9                    65
5   Rio De Janeiro       29.7                    92
6      Mexico City      109.9                   110
7      Mexico City      109.9                   141
8       New Jersey       19.8                    40
9          Mendoza       49.8                   159
10         Houston       24.9                    23
11      New Jersey      109.9                   152
12        New York       49.5                   138
13       Las Vegas      109.9                    68
14         Houston       24.9                    62
15      Luxembourg       49.8                   150
16       Las Vegas       49.8                   162
17      New Jersey      109.9                    69
18  Rio De Janeiro      109.9                    54
19        New York       49.8                   114
20      Luxembourg       24.9                    36
21     Mexico City      109.9                   113
22         Houston       19.8                    60
23      Luxembourg       59.4                   179
24        New York       24.9                    46
25       Las Vegas       19.8                    60
26  Rio De Janeiro       24.9                    95
27         Mendoza       49.8                   151
28         Houston       39.6                    98
29         Mendoza      109.9                    26
30     Mexico City      109.9                   129
31         Mendoza       24.9                    61
32       Las Vegas       59.4                   166
33         Houston       19.8                    59
34        New York       24.9                    29
35      New Jersey       49.8                   169
36       Las Vegas       24.9                    55
37       Las Vegas       29.7                    89
38      New Jersey       49.8                   161
39         Houston       49.8                   161
40         Houston       49.8                   146
41      New Jersey       49.5                   155
42      Luxembourg       24.9                    76
43        New York       49.8                   170
44       Las Vegas      109.9                    69
45      Luxembourg       24.9                    77
46         Houston      109.9                    57
47       Las Vegas       49.8                   116
48     Mexico City       59.4                   161
49  Rio De Janeiro      109.9                   148

In [44]:
final['amt_days_ratio']=final.total_amt/final.signup_duration_days

In [47]:
final.sort_values('amt_days_ratio',ascending=False)

          location  total_amt  signup_duration_days  amt_days_ratio
29         Mendoza      109.9                    26        4.226923
18  Rio De Janeiro      109.9                    54        2.035185
46         Houston      109.9                    57        1.928070
13       Las Vegas      109.9                    68        1.616176
44       Las Vegas      109.9                    69        1.592754
17      New Jersey      109.9                    69        1.592754
10         Houston       24.9                    23        1.082609
6      Mexico City      109.9                   110        0.999091
21     Mexico City      109.9                   113        0.972566
0   Rio De Janeiro       24.9                    26        0.957692
34        New York       24.9                    29        0.858621
30     Mexico City      109.9                   129        0.851938
7      Mexico City      109.9                   141        0.779433
49  Rio De Janeiro      109.9                   148        0.742568
11      New Jersey      109.9                   152        0.723026
20      Luxembourg       24.9                    36        0.691667
24        New York       24.9                    46        0.541304
8       New Jersey       19.8                    40        0.495000
36       Las Vegas       24.9                    55        0.452727
19        New York       49.8                   114        0.436842
47       Las Vegas       49.8                   116        0.429310
31         Mendoza       24.9                    61        0.408197
28         Houston       39.6                    98        0.404082
14         Houston       24.9                    62        0.401613
4        Las Vegas       24.9                    65        0.383077
48     Mexico City       59.4                   161        0.368944
12        New York       49.5                   138        0.358696
32       Las Vegas       59.4                   166        0.357831
2          Mendoza       59.4                   170        0.349412
40         Houston       49.8                   146        0.341096
33         Houston       19.8                    59        0.335593
37       Las Vegas       29.7                    89        0.333708
15      Luxembourg       49.8                   150        0.332000
23      Luxembourg       59.4                   179        0.331844
25       Las Vegas       19.8                    60        0.330000
22         Houston       19.8                    60        0.330000
27         Mendoza       49.8                   151        0.329801
42      Luxembourg       24.9                    76        0.327632
3   Rio De Janeiro       24.9                    76        0.327632
45      Luxembourg       24.9                    77        0.323377
5   Rio De Janeiro       29.7                    92        0.322826
41      New Jersey       49.5                   155        0.319355
9          Mendoza       49.8                   159        0.313208
38      New Jersey       49.8                   161        0.309317
39         Houston       49.8                   161        0.309317
16       Las Vegas       49.8                   162        0.307407
35      New Jersey       49.8                   169        0.294675
43        New York       49.8                   170        0.292941
1      Mexico City       24.9                    88        0.282955
26  Rio De Janeiro       24.9                    95        0.262105